.root {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh;
  width: 100vw;
  padding: 0.4rem;
  color: white;
  background-color: #00aaff;
  display: flex;
  justify-content: start;
  align-items: center;
}

.body {
  height: 90vh;
  width: 100vw;
}

.jobListing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: black;
}

.jobHeaderText {
  padding: 1rem;
}

.createJobBtn {
  width: 20vw;
  height: 10vh;
  display: flex;
  color: #00aaff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.createJobFields {
  margin: 0 0.1rem 0.5rem 0.1rem;
}